<div class="modal-header header-blue">
    <h3 class="modal-title" id="modal-title">Cotação {{pedido.code}}!</h3>
</div>
<div class="modal-body" id="modal-body">
    <i class="fa fa-thumbs-up fa-4x icon-blue" aria-hidden="true"></i>
    <h2>Cotação criada com sucesso!</h2>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Criar nova cotação</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Visualizar cotações</button>
</div>

